header {
    color: white;
    background-color: navy;
    text-align: center;
}
aside {
    width: 20%;
    margin: 15px;
}
main {
    width: auto;
    margin: 15px;
}

ul {
    display: flex;
}

#forecast {
    display: grid;
    column-gap: 10px;
    align-content: center;
}
