h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

header {
    color: white;
    background-color: navy;
    text-align: center;
}
aside {
    width: 20%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

main{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    list-style-type: none;
}

.row{
    display: flex;
    flex-direction: row;
}
#search_history{
    display: flex;
    flex-direction: column;
}

.main_display {
    margin: 15px;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

main ul {
    display:block;
}

.forecastCard {
      
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

}

#forecast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
    align-content: center;
}
